extends layout

block head
  title Contact #{config.app_name}
  
block content
  div.home-center
    h1 Contact Us
    p You can contact us at the email below:
    
    pre email [at] domain [dot] com
    
    br
    
    a(href="/") Cancel
      
 
