extends layout

block content
  div.home-center
    h1= title
    div.top-pad.container.row
      div.col-sm
        a(href="/new")
          div.home-button [+] New List
      div.col-sm
        a(href="/explore")
          div.home-button Explore Lists
      div.col-sm
        a(href="/user")
          div.home-button My Lists
            
