doctype html

// Welcome to this websites HTML.

html
  head
    block head
    include includes/head.pug
  body
    if (error && error.length > 0)
      div.alert.alert-dark.alert-dismissible.fade.show
        strong= error
        button.close(type="button", data-dismiss="alert", aria-label="Close")
          span(aria-hidden="true") &times;
    block content
    include includes/burger.html
    include includes/menu.pug
    include includes/js.pug
    block js
