extends layout

block head
  title Login to #{config.app_name}

block content
  div.home-center
    h1 Sign in to #{config.app_name}
    form(action="/login", method="post")
      div.form-group
        input.form-control(type="text", name="username", placeholder="Your username")
      div.form-group
        input.form-control(type="password", name="password", placeholder="Password")
      button.btn.btn-dark(type="submit" onclick="this.innerHTML='Signing in...'; this.classList.add('disabled');") Sign In
    p 
      a(href="/register") New to the site? Create an account.
    p
      a(href="/") Cancel
