extends layout

block content
  div.home-center
    h1 Create a new list
    if (user)
      p Welcome #{user.username}. Create a new list below.
    else
      p Welcome. Create a new list below. You will be recorded as a guest.
      
    p CREATE LIST HERE.
    
    if (!user)
      p
        a(href="/login") Sign in or Register
    p
      a(href="/") Cancel
