extends layout

block content
  div.home-center
    h1 Create an Account
    p Fill out the form below to create an account.
    form(action="/register", method="post")
      div.form-group
        input.form-control(type="text", name="username", placeholder="Username")
      div.form-group
        input.form-control(type="password", name="password", placeholder="Password")
      button.btn.btn-dark(type="submit") Create Account
    p 
      a(href="/login") Already have an account? Click here.
    p
      a(href="/") Cancel
 
