extends layout

block content
  div.home-center
    
    h2 #{user.username}'s lists
    
    if !req.user || req.user._id.toString() != user._id.toString()
      ul
        each list in user_lists
          if list.public_list
            li.list-list
              a(href= list.url)= list.name
    else
      ul
        each list in user_lists
          li.list-list
            a(href= list.url)= list.name
      
    hr
    if req.user
      p
        a(href="/logout") Sign Out
    p
      a(href="/") Cancel
