/*!
 * Main stylesheet
 * 
 * Written by Benjamin A.
 * Copyright (c) Benjamin A. 2019
 * 
 * Please contact me if you would like rights to use this.
 * 
*/

// Background colors

bg-color = #e2e2e2
bg-color2 = #eeeeee

// Anchor/button colors

primary-anchor-color = #1e82fc

link-item-header-color = #1e82fc

// Other colors

focus-underline-color = #b2b2b2

body {
  background-color: bg-color;
}

a {
  color: primary-anchor-color;
  &:focus {
    outline: 0;
    border-bottom: 1px dashed focus-underline-color;
  }
}

.home-center {
  position: absolute;
  text-align: center;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 70%;
  height: 80%;
/*  background-color: white;
  border-radius: 6px;*/
  padding: 10px;
}

.top-pad {
  padding-top: 15%;
}

.home-button {
  padding: 20%;
  margin: 0px 3px 3px 3px;
  border: 3px solid #b7b7b7;
  border-radius: 10px;
  background-color: #cecece;
}

form {
  margin: auto;
  max-width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.alert {
  text-align: center;
}

.menu {
  text-align: center;
/*   border-top: 2px solid black; */
  border-radius: 3px;
  background-color: rgba(0,0,0,0);
  position: fixed;
  width: 100%;
  height: 45%;
  bottom: -45%;
  z-index: 10;
  transition: all .6s ease-in-out;
  overflow-y: auto;
  overflow-x: hidden;
  a {
    color: black;
    text-decoration: underline;
    &:hover {
        color: gray;
        transition: all .5s ease;
      }
  }
  ul {
    margin-top: 5px;
    li {
      width: 70%;
      margin-left: 15%;
      padding: 2px;
    }
  }
}
.menu.show {
  bottom: 0px;
  background-color: white;
  width: 95%;
  margin-left: 2.5%;
  box-shadow: 0 -2px 10px 6px rgba(0, 0, 0, 0.3)
}
.menu-description {
  margin-top: 2%;
  padding: 10px;
}

ul {
  padding-left: 0px;
}

li {
  list-style-type: none;
}

.alert-fixed {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10;
}

.help-card {
  background-color: bg-color2;
  border-radius: 10px;
  margin: auto;
  width: 90%;
}

.help-card .card-body {
  background-color: white;
}

.list-item-header {
  span {color: link-item-header-color;}
  background: none;
  border: none;
  &:focus {
    outline: 0;
    border-bottom: 1px dashed focus-underline-color;
  }
}

/* button:focus, button:active { outline:0 !important; } */

.list-item-card {
  margin-top: 10px;
  margin-bottom: 15px;
}

.tiny-text {
  font-size: 35%;
}

.item-label {
  text-decoration-line: underline;
  font-weight: bold;
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.spinning {
  animation: spinning 1s infinite linear;
}

.close {
  position: relative;
}
