body {
  background-color: #e2e2e2;
}

.home-center {
  position: absolute;
  text-align: center;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 70%;
  height: 80%;
/*  background-color: white;
  border-radius: 6px;*/
  padding: 10px;
}

.top-pad {
  padding-top: 15%;
}

.home-button {
  padding: 20%;
  margin: 0px 3px 3px 3px;
  border: 3px solid #b7b7b7;
  border-radius: 10px;
  background-color: #cecece;
}

form {
  margin: auto;
  max-width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.alert {
  text-align: center;
}
